<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
<%@ include file="/core/inc/head.jsp"%>
</head>
<body>
#foreach ( $filed in $declaredFields ) 
        <li> $filed </li> 
#end 
      
<hr>
#foreach ( $method in $declaredMethods ) 
        <li> $method </li> 
#end 
</body>
</html>
