<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.yesway.pay.order.dao.CredentialDao" >
  <resultMap id="BaseResultMap" type="cn.yesway.pay.order.entity.Credential" >
    <id column="credId" property="credid" jdbcType="VARCHAR" />
    <result column="credName" property="credname" jdbcType="VARCHAR" />
    <result column="ownership" property="ownership" jdbcType="VARCHAR" />
    <result column="consumer" property="consumer" jdbcType="VARCHAR" />
    <result column="credStatus" property="credstatus" jdbcType="INTEGER" />
    <result column="credential" property="credential" jdbcType="VARCHAR" />
    <result column="signType" property="signtype" jdbcType="VARCHAR" />
    <result column="timeExpire" property="timeexpire" jdbcType="TIMESTAMP" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
    <result column="updater" property="updater" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    credId, credName, ownership, consumer, credStatus, credential, signType, timeExpire, createTime, 
    updateTime,creater, updater
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from credential
    where credId = #{credid,jdbcType=VARCHAR}
  </select>
  <select id="selectCredential" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from credential
    <where>
		AND ownership = #{from}
		AND consumer = #{to}
		AND signType = #{signType}
	</where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from credential
    where credId = #{credid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.yesway.pay.order.entity.Credential" >
    insert into credential (credId, credName, ownership, consumer,
      credStatus, credential, signType, 
      timeExpire, createTime, updateTime, 
      creater, updater)
    values (#{credid,jdbcType=VARCHAR}, #{credname,jdbcType=VARCHAR}, #{ownership,jdbcType=VARCHAR}, #{consumer,jdbcType=VARCHAR},  
      #{credstatus,jdbcType=INTEGER}, #{credential,jdbcType=VARCHAR}, #{signtype,jdbcType=VARCHAR}, 
      #{timeexpire,jdbcType=TIMESTAMP}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{creater,jdbcType=VARCHAR}, #{updater,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.yesway.pay.order.entity.Credential" >
    insert into credential
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="credid != null" >
        credId,
      </if>
      <if test="credname != null" >
        credName,
      </if>
      <if test="ownership != null" >
        ownership,
      </if>
      <if test="consumer != null" >
        consumer,
      </if>
      <if test="credstatus != null" >
        credStatus,
      </if>
      <if test="credential != null" >
        credential,
      </if>
      <if test="signtype != null" >
        signType,
      </if>
      <if test="timeexpire != null" >
        timeExpire,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="updater != null" >
        updater,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="credid != null" >
        #{credid,jdbcType=VARCHAR},
      </if>
      <if test="credname != null" >
        #{credname,jdbcType=VARCHAR},
      </if>
      <if test="ownership != null" >
        #{ownership,jdbcType=VARCHAR},
      </if>
      <if test="consumer != null" >
        #{consumer,jdbcType=VARCHAR},
      </if>
      <if test="credstatus != null" >
        #{credstatus,jdbcType=INTEGER},
      </if>
      <if test="credential != null" >
        #{credential,jdbcType=VARCHAR},
      </if>
      <if test="signtype != null" >
        #{signtype,jdbcType=VARCHAR},
      </if>
      <if test="timeexpire != null" >
        #{timeexpire,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.yesway.pay.order.entity.Credential" >
    update credential
    <set >
      <if test="credname != null" >
        credName = #{credname,jdbcType=VARCHAR},
      </if>
      <if test="ownership != null" >
        ownership = #{ownership,jdbcType=VARCHAR},
      </if>
      <if test="consumer != null" >
        consumer = #{consumer,jdbcType=VARCHAR},
      </if>
      <if test="credstatus != null" >
        credStatus = #{credstatus,jdbcType=INTEGER},
      </if>
      <if test="credential != null" >
        credential = #{credential,jdbcType=VARCHAR},
      </if>
      <if test="signtype != null" >
        signType = #{signtype,jdbcType=VARCHAR},
      </if>
      <if test="timeexpire != null" >
        timeExpire = #{timeexpire,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=VARCHAR},
      </if>
    </set>
    where credId = #{credid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.yesway.pay.order.entity.Credential" >
    update credential
    set credName = #{credname,jdbcType=VARCHAR},
      ownership = #{ownership,jdbcType=VARCHAR},
      consumer = #{consumer,jdbcType=VARCHAR},
      credStatus = #{credstatus,jdbcType=INTEGER},
      credential = #{credential,jdbcType=VARCHAR},
      signType = #{signtype,jdbcType=VARCHAR},
      timeExpire = #{timeexpire,jdbcType=TIMESTAMP},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      creater = #{creater,jdbcType=VARCHAR},
      updater = #{updater,jdbcType=VARCHAR}
    where credId = #{credid,jdbcType=VARCHAR}
  </update>
</mapper>