<?xml version= "1.0" encoding ="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
      xmlns:tx= "http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
      xmlns:aop="http://www.springframework.org/schema/aop" xmlns:p="http://www.springframework.org/schema/p"
      xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
      xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd 
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd 
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd 
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd 
        http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core.xsd
        http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd"
      default-lazy-init="true" >
     
	<dubbo:application name="yesway-pay-order-service"></dubbo:application>
	<!-- 使用zookeeper广播注册中心暴露服务地址 -->
	<dubbo:registry protocol="zookeeper" address="#{config_dubbo.registryAddress}" check="false"></dubbo:registry>
	<!-- 用dubbo协议在10880端口暴露服务 -->
<!-- 	<dubbo:protocol name="dubbo" port="-1" /> -->
	<dubbo:protocol name="dubbo" port="10880" />
	<!-- 配置服务暴露 -->
	<dubbo:service ref="orderServiceImpl" interface="cn.yesway.pay.order.service.OrderService"  version="0.1" timeout="10000"/>
	<dubbo:service ref="credentialServiceImpl" interface="cn.yesway.pay.order.service.CredentialService"  version="0.1" timeout="10000"/>
	<dubbo:service ref="getwayServiceImpl" interface="cn.yesway.pay.order.service.GetwayService"  version="0.1" timeout="10000"/>
	<dubbo:service ref="queueServiceImpl" interface="cn.yesway.pay.order.service.QueueService"  version="0.1" timeout="10000"/>
	<dubbo:service ref="oemServiceImpl" interface="cn.yesway.pay.order.service.OemService" version="0.1" timeout="10000"/>
	<dubbo:service ref="merchantServiceImpl" interface="cn.yesway.pay.order.service.MerchantService" version="0.1" timeout="10000"/>
	<dubbo:service ref="configurationServiceImpl" interface="cn.yesway.pay.order.service.ConfigurationService" version="0.1" timeout="10000"/>
	<dubbo:service ref="payCenterConfigurationServiceImpl" interface="cn.yesway.pay.order.service.PayCenterConfigurationService" version="0.1" timeout="10000"/>
	
</beans>
