<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

	<!-- 阿里 druid数据库连接池 -->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
		<!-- 数据库基本信息配置 -->
		<property name="url" value="#{dbConfig.pay_center_jdbc_url}" />
		<property name="username" value="#{dbConfig.pay_center_jdbc_username}" />
		<property name="password" value="#{dbConfig.pay_center_jdbc_password}" />
		<property name="driverClassName" value="#{dbConfig.pay_center_jdbc_driver}" />
		<property name="filters" value="#{dbConfig.filters}" />
		<!--  最大并发连接数 -->
		<property name="maxActive" value="#{dbConfig.maxActive}" />
		<!-- 初始化连接数量 -->
		<property name="initialSize" value="#{dbConfig.initialSize}" />
		<!--  配置获取连接等待超时的时间 -->
		<property name="maxWait" value="#{dbConfig.maxWait}" />
		<!-- 最小空闲连接数 -->
		<property name="minIdle" value="#{dbConfig.minIdle}" />
		<!--  配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
		<property name="timeBetweenEvictionRunsMillis" value="#{dbConfig.timeBetweenEvictionRunsMillis}" />
		<!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
		<property name="minEvictableIdleTimeMillis" value="#{dbConfig.minEvictableIdleTimeMillis}" />
		<property name="validationQuery" value="#{dbConfig.validationQuery}" />
		<property name="testWhileIdle" value="#{dbConfig.testWhileIdle}" />
		<property name="testOnBorrow" value="#{dbConfig.testOnBorrow}" />
		<property name="testOnReturn" value="#{dbConfig.testOnReturn}" />
		<property name="maxOpenPreparedStatements" value="#{dbConfig.maxOpenPreparedStatements}" />
		<!-- 打开removeAbandoned功能 -->
		<property name="removeAbandoned" value="#{dbConfig.removeAbandoned}" />
		<!-- 1800秒，也就是30分钟 -->
		<property name="removeAbandonedTimeout" value="#{dbConfig.removeAbandonedTimeout}" />
		<!-- 关闭abanded连接时输出错误日志 -->
		<property name="logAbandoned" value="#{dbConfig.logAbandoned}" />
	</bean>

	<!-- 开启事务注解驱动 -->
	<!--<tx:annotation-driven />-->

	<!-- 事务管理器 -->
	<bean id="transactionManager"
		  class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- 创建SqlSessionFactory，同时指定数据源 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations" value="classpath:mapping/*Mapper.xml" />
	</bean>

	<!-- spring mybatis整合且扫描dao层自动注入 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="cn.yesway.pay.order.dao" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
	</bean> 
</beans>